name: Build & push load tester image

on:
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: ${{ secrets.AWS_REGION }}
      ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password --region $AWS_REGION \
            | docker login --username AWS --password-stdin $(echo $ECR_REPOSITORY | cut -d'/' -f1)

      - name: Build load tester image
        run: |
          IMAGE_TAG=load-tester
          docker build -t $ECR_REPOSITORY:$IMAGE_TAG ./load_tester

      - name: Push load tester image
        run: |
          IMAGE_TAG=load-tester
          docker push $ECR_REPOSITORY:$IMAGE_TAG
